@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.font-manrope {
  font-family: 'Manrope', sans-serif;
}
